fastapi
uvicorn[standard]
python-dotenv
pydantic_settings
pathlib
python-multipart
openai
openai-whisper
yt-dlp
sentence-transformers 
chromadb
uvicorn[standard]
pydantic
python-dotenv
loguru
requests
yt-dlp
ffmpeg-python
torch
numpy
sse-starlette
anyio
rich
imageio-ffmpeg
